/**
* @file
* Add derivative variables using sass functions based on style-dictionary.
*/

/* Variable aliases */
$color-1: $color-primary;
$color-1-bg: $color-primary-bg;
$color-1-light: lighten($color-1, 10%);
$color-1-dark: darken($color-1, 10%);

$color-2: $color-secondary;
$color-2-bg: $color-secondary-bg;
$color-2-light: lighten($color-1, 10%);
$color-2-dark: darken($color-1, 10%);

$color-3: $color-tertiary;
$color-3-bg: $color-tertiary-bg;
$color-3-light: lighten($color-1, 10%);
$color-3-dark: darken($color-1, 10%);

$color-hilight-light: lighten($color-hilight, 15%);
$color-hilight-dark: darken($color-hilight, 5%);

//$color-primary-bg: contrast($color-primary);

/* Cell grid spacing- % will be appended */
$cell_space: calc(($grid-cell-margin + $grid-cell-padding) * 2);

/* cells & offsets populated by looping through grid values. */
$cells: (".cell");
$offsets: ();

/* Generate list of grid class names based on % size */
@each $cell in $grid-cells {
  $cell: round($cell);
  $cells: append($cells, unquote(".cell-#{$cell}"), comma);
  $offsets: append($offsets, unquote(".offset-#{$cell}"), comma);
}

/* Header region */
$header-height: calc($logo-height + ($logo-padding * 2) + ($logo-margin * 2));

$default-image: unquote($icon-src-png) + unquote($default-image);
