/**
  * @file
  * Anchors / Links
*/
a {
  /* display: inline-block; */
  text-decoration: none;
  color: $color-hilight;
  outline: none;
  background-repeat: no-repeat;
  @include transition();


  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $color-hilight-light;
    outline: none;
  }
  &:visited {
    color: $color-hilight-dark;
  }
}
